<p-messages></p-messages>
<p-fieldset>
  <ng-template pTemplate="header">
    <div class="flex align-items-center text-primary">
      <span class="pi pi-user mr-2"></span>
      <span class="font-bold text-lg">Items</span>
    </div>
  </ng-template>

  <p-table [value]="purchasingList" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Produto</th>
        <th>Tipo</th>
        <th>Price</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-purchasing>
      <tr>
        <td>{{ purchasing.desc_product }}</td>
        <td>{{ purchasing.desc_type }}</td>
        <td>{{ purchasing.price_product }}</td>
      </tr>
    </ng-template>
  </p-table>

  <h4>Dados pessoais</h4>
  <div class="flex flex-column gap-2">
    <label htmlFor="fullname">Nome completo</label>
    <input pInputText id="fullname" aria-describedby="description-help" [(ngModel)]="fullname"/>
  </div>


  <div class="flex flex-column gap-2">
    <label htmlFor="email">E-mail</label>
    <input pInputText id="email" aria-describedby="description-help" [(ngModel)]="email"/>
  </div>

  <h4>Resumo</h4>

  <p>Valor: {{ itemsValue  | currency: 'BRL'}}</p> <br>
  <p>Imposto: {{ taxValue  | currency: 'BRL' }}</p> <br>
  <h3>Valor Total: {{ totalAmount | currency: 'BRL' }}</h3> <br>

</p-fieldset>

<div class="card flex justify-content-center m-20">
  <button pButton pRipple label="Finalizar Compra" (click)="submit()" class="p-button-success"></button>
</div>
